<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Comité Générale des Assurance</h1>
        <span, class="menu">
            <a href="{{ url_for('/visualisation/') }}">visualisation</a>
            <a href="{{ url_for('browsing') }}">Navigation</a>
            <a href="{{ url_for('prediction') }}">Prediction</a>
        </span>
    </header>
</body>

</html>